
#daily {
    padding: 0 .5rem;
}

#daily .daily-title {
    height: 1.46rem;
    padding: .32rem 0;
    border-top: .06rem solid #d8d8d8;
    overflow: hidden;
}

#daily .daily-title .text {
    float: left;
    font-size: .48rem;
    font-weight: bold;
    background: #FFFFFF;
}

#daily .daily-title .time {
    width: 2.6rem;
    float: right;
    overflow: hidden;
    padding: .14rem 0;
    border-left: 0.02rem solid #d8d8d8;
    box-sizing: border-box;
    margin-top: -.14rem;
}

#daily .daily-title .time .time-wrap {
    float: left;
    padding-left: .2rem;
}

#daily .daily-title .time .time-wrap .month {
    display: block;
    font-size: .28rem;
    font-style: normal;
}

#daily .daily-title .time .time-wrap .year {
    font-size: .22rem;
    font-style: normal;
}

#daily .daily-title .time .date {
    float: right;
    font-size: .48rem;
}

#daily .daily-items {
    width: 100%;
    margin-bottom: 1rem;
}

#daily .daily-items img {
    width: 100%;
    height: 4.2rem;
}

#daily .daily-items .title {
    margin-top: .6rem;
    margin-bottom: .28rem;
    border-left: 0.04rem solid #d8d8d8;
    padding-left: .24rem;
    /*width:100% ;*/
    /*overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;*/
}

#daily .daily-items .title .tag {
    color: #004c46;
    font-size: .28rem;
}

#daily .daily-items .title .text {
    font-size: .38rem;

}

#daily .daily-items .desc {
    font-size: .26rem;
    padding-left: .28rem;
    padding-right: .1rem;
}
